In [1]:
import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import BytesIO
from mlxtend.preprocessing import TransactionEncoder
import random
from mlxtend.frequent_patterns import apriori

In [2]:
#load data

client = boto3.client('s3')
obj = client.get_object(Bucket='manifolddata', Key='week1.csv')
df = pd.read_csv(BytesIO(obj['Body'].read()))

#df=pd.read_csv('week1processed.csv',  parse_dates=True)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df=df.iloc[:,[0,1,3,4,5,6,7,8]]
df.columns=['Date', 'Duration', 'Src_IP', 'Src_pt', 'Dst_IP', 'Dst_pt','Packets', 'Bytes']
#add an date column that is rounded to nearest hour, so we can use this as a timestep to see how frequently IP pairs occur in each timestep
df['Date']=pd.to_datetime(df['Date'], format="%Y-%m-%d %H:%M:%S.%f", errors = 'coerce')
df['date_hr']=pd.Series(df['Date']).dt.round("H")

In [4]:
#create a pair column, which is a touple of the src and dst IP, sorted. 
#It does not matter which call came first, we simply want to know which pair occurs most frequently.

df['pairs']=list(zip(df.Src_IP, df.Dst_IP))
df['pairs']=df['pairs'].apply(sorted)
df['pairs2']=tuple(df['pairs'])

In [5]:
df.head()

,Date,Duration,Src_IP,Src_pt,Dst_IP,Dst_pt,Packets,Bytes,date_hr,pairs,pairs2
0,2017-08-02 00:00:00.419,0.003,192.168.210.55,44870,192.168.100.11,445.0,2,174,2017-08-02,"[192.168.100.11, 192.168.210.55]","(192.168.100.11, 192.168.210.55)"
1,2017-08-02 00:00:00.421,0.000,192.168.100.11,445,192.168.210.55,44870.0,1,108,2017-08-02,"[192.168.100.11, 192.168.210.55]","(192.168.100.11, 192.168.210.55)"
2,2017-08-02 00:00:02.593,0.004,192.168.220.47,55101,192.168.100.11,445.0,2,174,2017-08-02,"[192.168.100.11, 192.168.220.47]","(192.168.100.11, 192.168.220.47)"
3,2017-08-02 00:00:02.859,0.000,10000_34,443,192.168.210.54,59628.0,1,100,2017-08-02,"[10000_34, 192.168.210.54]","(10000_34, 192.168.210.54)"
4,2017-08-02 00:00:02.594,0.000,192.168.100.11,445,192.168.220.47,55101.0,1,108,2017-08-02,"[192.168.100.11, 192.168.220.47]","(192.168.100.11, 192.168.220.47)"

In [6]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [7]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [8]:
#wants things in a 1 hot encoded pandas dataframe for the library models we want to run
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
data_coded = pd.DataFrame(te_ary, columns=te.columns_)
data_coded

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [6]:
df_pairs=df[['Date','pairs']]
df_pairs=pd.DataFrame(df_pairs)
df_pairs.columns

Index(['Date', 'pairs'], dtype='object')

Loop through in random chuncks, continue until no rules added

In [9]:
range(1,10)

range(1, 10)

In [7]:
#we only want a list of all the individual pairs at each timestamp. Think of this where each timestamp is a 'transaction' and we chose to buy which 2 items (IP addresses)
data_l=list(df['pairs'])

#due to memory issues, even though I am using an AWS instance with 32 GiB Memory, need to perform analysis on chucnks of data.
#We will keep going until no new rules are added
import random
data_l1=random.sample(data_l, 100000)

In [33]:
type(data_l1)

list

In [8]:
#wants things in a 1 hot encoded pandas dataframe for the library models we want to run. use Sprase data
te = TransactionEncoder()
te_ary = te.fit(data_l).transform(data_l, sparse=True)
data_coded = pd.SparseDataFrame(te_ary, columns=te.columns_, default_fill_value=False)
data_coded.head()

,0.0.0.0,10000_163,10000_34,10000_35,10000_40,10000_42,10000_66,10000_67,10000_72,10000_74,...,192.168.220.44,192.168.220.45,192.168.220.46,192.168.220.47,192.168.220.48,192.168.220.49,192.168.220.50,192.168.220.51,255.255.255.255,DNS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [9]:
data_subset=data_coded.sample(n=150000)
data_subset2=data_coded.sample(n=150000)

In [10]:
ap1=apriori(data_subset, min_support=0.005)
ap2=apriori(data_subset2, min_support=0.005)

In [13]:
ap1.head()

    support itemsets items2
0  0.008173     (83)   (83)
1  0.022840     (94)   (94)
2  0.005567    (107)  (107)
3  0.006893    (234)  (234)
4  0.006593    (260)  (260)

In [12]:
ap1['items2']=list(ap1.itemsets)

In [17]:
ap1['itemsets'][1] in list(ap1.items2)

True

In [20]:
for i in ap2['itemsets']:
    if i not in list(ap1.itemsets):
        print(ap2[ap2['itemsets']==i])

     support itemsets items2
11  0.005173    (694)  (694)

In [21]:
for i in ap2['itemsets']:
    if i not in list(ap1.itemsets):
        print(ap2[ap2['itemsets']==i])
        ap1.append(ap2[ap2['itemsets']==i])

     support      itemsets
44  0.005053  (9281, 9346)

In [22]:
for i in ap2['itemsets']:
    if i not in list(ap1.itemsets):
        print(ap2[ap2['itemsets']==i])
        ap1.append(ap2[ap2['itemsets']==i])

     support      itemsets
44  0.005053  (9281, 9346)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [ ]:
#set up base apriori result
data_subset=data_coded.sample(n=150000)
ap1=apriori(data_subset, min_support=0.005)

In [ ]:
#loop through 10 times with random subsamples
for i in range(0,10):
    data_sub=data_coded.sample(n=150000)
    apsub=apriori(data_sub, min_support=0.005)
    for i in apsub['itemsets']:
    if i not in list(ap1.itemsets):
        print(ap2[ap2['itemsets']==i])
        ap1.append(apsub[apsub['itemsets']==i])

In [23]:
ap1

     support      itemsets        items2
0   0.008173          (83)          (83)
1   0.022840          (94)          (94)
2   0.005567         (107)         (107)
3   0.006893         (234)         (234)
4   0.006593         (260)         (260)
5   0.005647         (290)         (290)
6   0.019273         (321)         (321)
7   0.025193         (482)         (482)
8   0.005553         (552)         (552)
9   0.007407         (555)         (555)
10  0.013213         (562)         (562)
11  0.005173         (694)         (694)
12  0.007193         (915)         (915)
13  0.011513         (952)         (952)
14  0.005760        (1553)        (1553)
15  0.008760        (1617)        (1617)
16  0.007380        (1649)        (1649)
17  0.008307        (1751)        (1751)
18  0.006667        (1753)        (1753)
19  0.006047        (1794)        (1794)
20  0.045020        (8576)        (8576)
21  0.030640        (9271)        (9271)
22  0.017987        (9272)        (9272)
23  0.032653        (9273)        (9273)
24  0.023947        (9274)        (9274)
25  0.021700        (9275)        (9275)
26  0.011587        (9277)        (9277)
27  0.020987        (9279)        (9279)
28  0.030507        (9280)        (9280)
29  0.040447        (9281)        (9281)
30  0.060747        (9282)        (9282)
31  0.022120        (9283)        (9283)
32  0.023087        (9284)        (9284)
33  0.059400        (9335)        (9335)
34  0.042960        (9336)        (9336)
35  0.061187        (9338)        (9338)
36  0.027393        (9339)        (9339)
37  0.133207        (9340)        (9340)
38  0.043873        (9341)        (9341)
39  0.042620        (9342)        (9342)
40  0.045293        (9343)        (9343)
41  0.219620        (9344)        (9344)
42  0.122207        (9346)        (9346)
43  0.006120    (9336, 83)    (9336, 83)
44  0.020913    (9282, 94)    (9282, 94)
45  0.005187  (9282, 9346)  (9282, 9346)
46  0.008267  (9346, 9335)  (9346, 9335)
47  0.005360  (9336, 9346)  (9336, 9346)
48  0.007760  (9338, 9346)  (9338, 9346)
49  0.017820  (9346, 9340)  (9346, 9340)
50  0.006167  (9346, 9341)  (9346, 9341)
51  0.005720  (9346, 9342)  (9346, 9342)
52  0.005693  (9346, 9343)  (9346, 9343)
53  0.025340  (9344, 9346)  (9344, 9346)

In [105]:
ls_test[1] in ls_test

True

In [103]:
ap1_wet=ap1['itemsets']
ls_test=list(ap1_wet)

In [104]:
ls_test[1]

frozenset({94})

In [90]:
mySet = frozenset(['Apple', 'Banana', 'Mango', 'Orange', 'Apple'])
myset2= frozenset(['Apple', 'Banana', 'meat'])

In [79]:
for i in myset2:
    if i in mySet:
        print(i)

Apple
Banana

In [86]:
ap1['itemsets'][1] in ap1['itemsets']

False

In [83]:
#check if sets are in either apriori selected rules

for i in len(ap1['itemsets']):
    if ap1['itemsets'][i] not in ap2['itemsets']:
        print(i)

TypeError: 'int' object is not iterable

In [42]:
masterdf=pd.DataFrame(columns=['support', 'itemsets'])

In [43]:
masterdf

Empty DataFrame
Columns: [support, itemsets]
Index: []

In [37]:
#start with 10 loops
masterdf=DataFrame()
for i in range(0,10):
    data_subset=data_coded.sample(n=100000)
    ap=apriori(data_subset, min_support=0.05, use_colnames=True)
    if ap

IndexError: list assignment index out of range

now we will set some thresholds for creating rules and go through our first chunk of data


min_support : float (default: 0.5)
A float between 0 and 1 for minumum support of the itemsets returned. The support is computed as the fraction transactions_where_item(s)_occur / total_transactions.

We don't want to bother making rules for infrequent items, so we will set the support = 0.5 meaning this IP address is present in 50% of the requests

In [13]:
from mlxtend.frequent_patterns import apriori

ap1=apriori(data1_coded, min_support=0.05)

In [39]:
ap1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
support     6 non-null float64
itemsets    6 non-null object
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

In [21]:
ap1.itemsets[3]==({4855})

True

In [22]:
if ({4855}) in ap1.itemsets:
    print (ap1.itemsets)

TypeError: unhashable type: 'set'

In [24]:
df_pairs=df[['Date','pairs']]
df_pairs=pd.DataFrame(df_pairs)
df_pairs.columns

Index(['Date', 'pairs'], dtype='object')

In [28]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df_pairs2 = df_pairs.join(pd.DataFrame(mlb.fit_transform(df_pairs.pop('pairs')),
                          columns=mlb.classes_,
                          index=df_pairs.index))

MemoryError: