In [2]:
import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import BytesIO
from mlxtend.preprocessing import TransactionEncoder
import random
#from mlxtend.frequent_patterns import apriori
from apyori import apriori

In [3]:
#load data

client = boto3.client('s3')
obj = client.get_object(Bucket='manifolddata', Key='week1.csv')
df = pd.read_csv(BytesIO(obj['Body'].read()))

#df=pd.read_csv('week1processed.csv',  parse_dates=True)

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df=df.iloc[:,[0,1,3,4,5,6,7,8]]
df.columns=['Date', 'Duration', 'Src_IP', 'Src_pt', 'Dst_IP', 'Dst_pt','Packets', 'Bytes']
#add an date column that is rounded to nearest hour, so we can use this as a timestep to see how frequently IP pairs occur in each timestep
df['Date']=pd.to_datetime(df['Date'], format="%Y-%m-%d %H:%M:%S.%f", errors = 'coerce')
df['date_hr']=pd.Series(df['Date']).dt.round("H")

In [5]:
#create a pair column, which is a touple of the src and dst IP, sorted. 
#It does not matter which call came first, we simply want to know which pair occurs most frequently.

df['pairs']=list(zip(df.Src_IP, df.Dst_IP))
df['pairs']=df['pairs'].apply(sorted)
df['pairs2']=tuple(df['pairs'])

In [6]:
df.head()

,Date,Duration,Src_IP,Src_pt,Dst_IP,Dst_pt,Packets,Bytes,date_hr,pairs,pairs2
0,2017-08-02 00:00:00.419,0.003,192.168.210.55,44870,192.168.100.11,445.0,2,174,2017-08-02,"[192.168.100.11, 192.168.210.55]","(192.168.100.11, 192.168.210.55)"
1,2017-08-02 00:00:00.421,0.000,192.168.100.11,445,192.168.210.55,44870.0,1,108,2017-08-02,"[192.168.100.11, 192.168.210.55]","(192.168.100.11, 192.168.210.55)"
2,2017-08-02 00:00:02.593,0.004,192.168.220.47,55101,192.168.100.11,445.0,2,174,2017-08-02,"[192.168.100.11, 192.168.220.47]","(192.168.100.11, 192.168.220.47)"
3,2017-08-02 00:00:02.859,0.000,10000_34,443,192.168.210.54,59628.0,1,100,2017-08-02,"[10000_34, 192.168.210.54]","(10000_34, 192.168.210.54)"
4,2017-08-02 00:00:02.594,0.000,192.168.100.11,445,192.168.220.47,55101.0,1,108,2017-08-02,"[192.168.100.11, 192.168.220.47]","(192.168.100.11, 192.168.220.47)"

In [7]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [8]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [10]:
#we only want a list of all the individual pairs at each timestamp. Think of this where each timestamp is a 'transaction' and we chose to buy which 2 items (IP addresses)
data_l=list(df['pairs'])
len(data_l)

8185992

In [11]:
#wants things in a 1 hot encoded pandas dataframe for the library models we want to run. use Sprase data
te = TransactionEncoder()
te_ary = te.fit(data_l).transform(data_l, sparse=True)
data_coded = pd.SparseDataFrame(te_ary, columns=te.columns_, default_fill_value=False)
data_coded.head()

,0.0.0.0,10000_163,10000_34,10000_35,10000_40,10000_42,10000_66,10000_67,10000_72,10000_74,...,192.168.220.44,192.168.220.45,192.168.220.46,192.168.220.47,192.168.220.48,192.168.220.49,192.168.220.50,192.168.220.51,255.255.255.255,DNS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [12]:
len(data_coded)

8185992

In [ ]:
#turn into a list of lists
records = []  
for i in range(0, len(data_coded)):  
    records.append([str(store_data.values[i,j]) for j in range(0, 9347)])

In [9]:
data_subset=data_coded.sample(n=150000)
data_subset2=data_coded.sample(n=150000)
data_subset3=data_coded.sample(n=150000)
data_subset4=data_coded.sample(n=150000)

In [32]:
data_subset3=data_coded.sample(n=150000)
data_subset4=data_coded.sample(n=150000)

In [61]:
ap1=apriori(data_subset, min_support=0.001, min_length=2)
ap2=apriori(data_subset2, min_support=0.001, min_length=2)

TypeError: apriori() got an unexpected keyword argument 'min_length'

In [45]:
ap3=apriori(data_subset3, min_support=0.001)
ap4=apriori(data_subset4, min_support=0.001)

In [46]:
for i in ap2['itemsets']:
    if i not in list(ap1.itemsets):
        print(ap2[ap2['itemsets']==i])
        ap1.append(ap2[ap2['itemsets']==i])

     support itemsets
25  0.001033    (239)
     support itemsets
29  0.001147    (253)
     support itemsets
68  0.001013    (710)
     support itemsets
77  0.001107    (910)
     support itemsets
83  0.001027   (1070)
     support itemsets
106  0.00104   (1732)
      support itemsets
141  0.001067   (8080)
      support     itemsets
190  0.001087  (321, 9343)
      support     itemsets
198  0.001187  (482, 9343)
      support     itemsets
201  0.001027  (552, 9344)
      support      itemsets
226  0.001067  (8080, 9344)

In [47]:
for i in ap3['itemsets']:
    if i not in list(ap1.itemsets):
        print(ap3[ap3['itemsets']==i])
        ap1.append(ap3[ap3['itemsets']==i])

     support itemsets
23  0.001107    (239)
    support itemsets
27  0.00116    (253)
     support itemsets
36  0.001047    (364)
    support itemsets
37    0.001    (368)
     support itemsets
78  0.001093    (969)
      support itemsets
102  0.001033   (1732)
      support itemsets
135  0.001013   (8080)
      support itemsets
136  0.001153   (8095)
     support     itemsets
186  0.00112  (321, 9343)
      support     itemsets
194  0.001113  (482, 9343)
      support      itemsets
212  0.001087  (1617, 9340)
      support      itemsets
224  0.001013  (8080, 9344)
      support      itemsets
225  0.001153  (9344, 8095)

In [48]:
for i in ap4['itemsets']:
    if i not in list(ap1.itemsets):
        print(ap4[ap4['itemsets']==i])
        ap1.append(ap4[ap4['itemsets']==i])

    support itemsets
24    0.001    (239)
    support itemsets
28  0.00118    (253)
     support itemsets
99  0.001073   (1732)
      support itemsets
116  0.001087   (2259)
      support itemsets
134  0.001067   (8080)
      support    itemsets
170  0.001067  (16, 9340)
      support     itemsets
185  0.001007  (321, 9342)
      support     itemsets
186  0.001107  (321, 9343)
      support     itemsets
194  0.001133  (482, 9343)
     support     itemsets
196  0.00102  (552, 9344)
      support     itemsets
203  0.001173  (9344, 723)
      support      itemsets
214  0.001147  (1617, 9340)
      support      itemsets
216  0.001087  (1649, 9340)
      support      itemsets
227  0.001067  (8080, 9344)

This shows that even though we take 4 random subsamples and conduct the Apriori algorithm, we are still adding new itemsets. Ideally, we would keep going until we are adding no new itemsets. But, for simplicity sake let's move on.
This did apply a threshold of support = 0.001 or the itemset had to appear at minimum 0.1% in the data.

We only care about itemsets with 2 values, so we will filter out the single items

In [59]:
ap1['length'] = ap1['itemsets'].apply(lambda x: len(x))
ap1=ap1[ap1['length']>1]

In [60]:
ap1

      support      itemsets  length
178  0.006120    (9336, 83)       2
179  0.001027    (9338, 83)       2
180  0.020913    (9282, 94)       2
181  0.001053    (9339, 94)       2
182  0.001180   (9344, 107)       2
183  0.001047   (9344, 141)       2
184  0.001047   (9344, 162)       2
185  0.001013   (234, 9340)       2
186  0.001667   (9344, 234)       2
187  0.001020   (260, 9284)       2
188  0.001247   (9344, 260)       2
189  0.001060   (290, 9340)       2
190  0.001280   (9344, 290)       2
191  0.001233   (321, 9335)       2
192  0.001193   (321, 9338)       2
193  0.002720   (321, 9340)       2
194  0.001033   (321, 9341)       2
195  0.004147   (9344, 321)       2
196  0.001073   (482, 9282)       2
197  0.002020   (482, 9335)       2
198  0.001047   (9336, 482)       2
199  0.001627   (482, 9338)       2
200  0.004113   (482, 9340)       2
201  0.001360   (482, 9341)       2
202  0.001313   (482, 9342)       2
203  0.004553   (9344, 482)       2
204  0.001000   (552, 9340)       2
205  0.001313   (555, 9340)       2
206  0.001127   (9344, 555)       2
207  0.002247   (562, 9340)       2
..        ...           ...     ...
262  0.003787  (9273, 9346)       2
263  0.001667  (9344, 9274)       2
264  0.002713  (9274, 9346)       2
265  0.001333  (9344, 9275)       2
266  0.002480  (9346, 9275)       2
267  0.001240  (9344, 9277)       2
268  0.001133  (9346, 9277)       2
269  0.001513  (9344, 9279)       2
270  0.002260  (9346, 9279)       2
271  0.001327  (9280, 9344)       2
272  0.003593  (9280, 9346)       2
273  0.001373  (9344, 9281)       2
274  0.004927  (9281, 9346)       2
275  0.001480  (9344, 9282)       2
276  0.005187  (9282, 9346)       2
277  0.001473  (9344, 9283)       2
278  0.002160  (9346, 9283)       2
279  0.001393  (9344, 9284)       2
280  0.002507  (9346, 9284)       2
281  0.001653  (9344, 9331)       2
282  0.001233  (9344, 9332)       2
283  0.008267  (9346, 9335)       2
284  0.005360  (9336, 9346)       2
285  0.007760  (9338, 9346)       2
286  0.003387  (9346, 9339)       2
287  0.017820  (9346, 9340)       2
288  0.006167  (9346, 9341)       2
289  0.005720  (9346, 9342)       2
290  0.005693  (9346, 9343)       2
291  0.025340  (9344, 9346)       2

[114 rows x 3 columns]

In [31]:
#loop through 10 times with random subsamples
for i in range(0,5):
    data_sub=data_coded.sample(n=150000)
    apsub=apriori(data_sub, min_support=0.005)
    for index in apsub['itemsets']:
        if index not in list(ap1.itemsets):
            #print(ap2[ap2['itemsets']==i])
            ap1.append(apsub[apsub['itemsets']==index])

/home/ubuntu/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

now we will set some thresholds for creating rules and go through our first chunk of data


min_support : float (default: 0.5)
A float between 0 and 1 for minumum support of the itemsets returned. The support is computed as the fraction transactions_where_item(s)_occur / total_transactions.

We don't want to bother making rules for infrequent items, so we will set the support = 0.5 meaning this IP address is present in 50% of the requests

In [13]:
from mlxtend.frequent_patterns import apriori

ap1=apriori(data1_coded, min_support=0.05)

In [39]:
ap1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
support     6 non-null float64
itemsets    6 non-null object
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

In [21]:
ap1.itemsets[3]==({4855})

True

In [22]:
if ({4855}) in ap1.itemsets:
    print (ap1.itemsets)

TypeError: unhashable type: 'set'

In [24]:
df_pairs=df[['Date','pairs']]
df_pairs=pd.DataFrame(df_pairs)
df_pairs.columns

Index(['Date', 'pairs'], dtype='object')

In [28]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
df_pairs2 = df_pairs.join(pd.DataFrame(mlb.fit_transform(df_pairs.pop('pairs')),
                          columns=mlb.classes_,
                          index=df_pairs.index))

MemoryError: